

<section class="m-5">
    <div class="container">
        <div class="row mt-5">
          <center>
          <div style="width: 50%;">
                  <form class="mt-5" id="addproduct" action="/admin/addproduct" method="POST" enctype="multipart/form-data">

                     <div class="mb-3 ">
                       <h2>Add product</h2>
                    </div>

                    <div class="mb-3 ">
                      <label for="exampleInputEmail1" class="form-label ">Product name</label>
                      <input type="text" name="productname" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label ">Quantity</label>
                      <input type="number" name="quantity" class="form-control " id="exampIntPsword1">
                    </div>

                    <div class="mb-3 ">
                      <label for="exampleInputEmail1" class="form-label ">Brand</label><br>
                      {{!-- <input type="text" name="brand" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp"> --}}
                      <select name="brand" class="form-control text-center" id="exInpuEmail1" aria-describedby="emailHelp">
                        <option value="">Select brand</option>
                        <option value="rolex">Rolex</option>
                        <option value="titan">Titan</option>
                        <option value="fastrack">Fastrack</option>

                      </select>
                    </div>

                    <div class="mb-3 ">
                      <label for="exampleInputEmail1" class="form-label ">Price</label>
                      <input type="number" name="price" class="form-control " id="ampleInputmail1" aria-describedby="emailHelp">
                      
                    </div>

                    <div class="mb-3 ">
                      <label for="exampleInputEmail1" class="form-label ">Offer Price</label>
                      <input type="number" name="offerprice" class="form-control " id="exampleIssputEmil1" aria-describedby="emailHelp">
                      
                    </div>

                    <div class="mb-3 ">
                      <label for="exampleInputEmail1" class="form-label ">Category</label><br>
                      <input type="radio" id="html" name="gender" value="men">
                      <label for="men" class="pr-2">Men's watches</label>
                      <input type="radio" id="css" name="gender" value="women">
                      <label for="css">Women's watches</label>
                     
                                              
                    </div>


                     <div class="mb-3 ">
                      <label for="exampleInputEmail1" class="form-label ">Description</label>
                      <input type="text"  name="description" class="form-control " id="enputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="col-12">
                      <div style="width: 300px; height: 300px; display: none;"  id="image-box"></div>
                      <button style="display: none;" class="btn btn-primary mt-4" type="button" id="crop-btn">Crop</button>
                    </div>
                    

                   
                    <div class="mb-3 ">
                       <label for="">IMAGE 1</label>
                                <img src="" alt="" style="width: 100px; height:auto" id="imgview1">
                                <div id="errMess1" ></div>
                                {{!-- <div id="preview1"></div> --}}
                                <input type="file" name="image1" id="file1" class="form-control"
                                    onchange="return fileValidation1()">
                                    
                    </div>


                   

                    <div class="mb-3 ">
                       <label for="">IMAGE 2</label>
                                <img src="" alt="" style="width: 100px; height:auto" id="imgview2">
                                <div id="errMess2"></div>
                                {{!-- <div id="preview2"></div> --}}
                                <input type="file" name="image2" id="file2" class="form-control"
                                    onchange="return fileValidation2()">
                    </div>

                    <div class="mb-3 ">
                       <label for="">IMAGE 3</label>
                                <img src="" alt="" style="width: 100px; height:auto" id="imgview3">
                                <div id="errMess3"></div>
                                {{!-- <div id="preview3"></div> --}}
                                <input type="file" name="image3" id="file3" class="form-control"
                                    onchange="return fileValidation3()">
                    </div>
                   
                    <button id="confirm-btn" type="submit" class="btn btn-primary">Add product</button>
                 </form>
           </div>
           </center>
        </div>
    </div>
</section>





<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>


<script>

  //image input 1

   function fileValidation1() {
        const imagebox = document.getElementById('image-box')
        const crop_btn = document.getElementById('crop-btn')
        var fileInput = document.getElementById('file1');
        
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg)$/i;
        if (!allowedExtensions.exec(filePath)) {
            document.getElementById('errMess1').innerHTML='<p style="color:red; display: block;">Invalid file type</p>'
            fileInput.value = '';
            return false;
        } else {
          document.getElementById('errMess1').innerHTML=''
            //Image preview
            const img_data = fileInput.files[0]
            const url = URL.createObjectURL(img_data)
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
            const image = document.getElementById('image')
            document.getElementById('image-box').style.display = 'block'
            document.getElementById('crop-btn').style.display = 'block'
            document.getElementById('confirm-btn').style.display = 'none'
           
            const cropper = new Cropper(image, {
                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 16 / 19,
              //  preview: '.preview',
                minCropBoxWidth: 180,
                minCropBoxHeight: 240,
            })
            crop_btn.addEventListener('click', () => {
                cropper.getCroppedCanvas().toBlob((blob) => {
                    let fileInputElement = document.getElementById('file1');
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    let container = new DataTransfer();
                   
                    container.items.add(file);
                     const img = container.files[0]
                     var url =URL.createObjectURL(img)                    
                     fileInputElement.files = container.files;
                     document.getElementById('imgview1').src=url
                    document.getElementById('image-box').style.display = 'none'
                    document.getElementById('crop-btn').style.display = 'none'
                    document.getElementById('confirm-btn').style.display = 'block'
                });
            });
        }
    }
        

        //image input 2

        function fileValidation2() {
        const imagebox = document.getElementById('image-box')
        const crop_btn = document.getElementById('crop-btn')
        var fileInput = document.getElementById('file2');
        
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg)$/i;
        if (!allowedExtensions.exec(filePath)) {
            document.getElementById('errMess2').innerHTML='<p style="color:red; display: block;">Invalid file type</p>'
            fileInput.value = '';
            return false;
        } else {
          document.getElementById('errMess2').innerHTML=''
            //Image preview
            const img_data = fileInput.files[0]
            const url = URL.createObjectURL(img_data)
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
            const image = document.getElementById('image')
            document.getElementById('image-box').style.display = 'block'
            document.getElementById('crop-btn').style.display = 'block'
            document.getElementById('confirm-btn').style.display = 'none'
           
            const cropper = new Cropper(image, {
                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 16 / 19,
               // preview: '.preview',
                minCropBoxWidth: 180,
                minCropBoxHeight: 240,
            })
            crop_btn.addEventListener('click', () => {
                cropper.getCroppedCanvas().toBlob((blob) => {
                    let fileInputElement = document.getElementById('file2');
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    let container = new DataTransfer();
                   
                    container.items.add(file);
                     console.log(container.files[0])
                     const img = container.files[0]
                     var url =URL.createObjectURL(img)                    
                     fileInputElement.files = container.files;
                     document.getElementById('imgview2').src=url
                    document.getElementById('image-box').style.display = 'none'
                    document.getElementById('crop-btn').style.display = 'none'
                    document.getElementById('confirm-btn').style.display = 'block'
                });
            });
        }
    }


        //image input 3

         function fileValidation3() {
        const imagebox = document.getElementById('image-box')
        const crop_btn = document.getElementById('crop-btn')
        var fileInput = document.getElementById('file3');
        
        var filePath = fileInput.value;
        var allowedExtensions = /(\.jpg)$/i;
        if (!allowedExtensions.exec(filePath)) {
            document.getElementById('errMess3').innerHTML='<p style="color:red; display: block;">Invalid file type</p>'
            fileInput.value = '';
            return false;
        } else {
          document.getElementById('errMess3').innerHTML=''
            //Image preview
            const img_data = fileInput.files[0]
            const url = URL.createObjectURL(img_data)
            imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%">`
            const image = document.getElementById('image')
            document.getElementById('image-box').style.display = 'block'
            document.getElementById('crop-btn').style.display = 'block'
            document.getElementById('confirm-btn').style.display = 'none'
           
            const cropper = new Cropper(image, {
                autoCropArea: 1,
                viewMode: 1,
                scalable: false,
                zoomable: false,
                movable: false,
                aspectRatio: 16 / 19,
               // preview: '.preview',
                minCropBoxWidth: 180,
                minCropBoxHeight: 240,
            })
            crop_btn.addEventListener('click', () => {
                cropper.getCroppedCanvas().toBlob((blob) => {
                    let fileInputElement = document.getElementById('file3');
                    let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                    let container = new DataTransfer();
                   
                    container.items.add(file);
                     console.log(container.files[0])
                     const img = container.files[0]
                     var url =URL.createObjectURL(img)                    
                     fileInputElement.files = container.files;
                     document.getElementById('imgview3').src=url
                    document.getElementById('image-box').style.display = 'none'
                    document.getElementById('crop-btn').style.display = 'none'
                    document.getElementById('confirm-btn').style.display = 'block'
                });
            });
        }
    }

  
</script>
 {{!-- adddddddddddddddmmmmmmmmmmmminnnnnnnnnnn file validation --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script>
  $(document).ready(function(){
    $('#addproduct').validate({
      rules:{
        productname:{
          required:true,
          minlength:3
        },
        quantity:{
          required:true
        },
        brand:{
          required:true
        },
        price:{
          required:true
        },
        offerprice:{
          required:true
        },
        gender:{
          required:true
        },
        description:{
          required:true
        },
        image1:{
          required:true
        },
        image2:{
          required:true
        },
        image3:{
          required:true
        }


      }
    })
  })
</script>
 