<section style="margin-top: 150px;">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 m-auto " style="margin-top: 150px; display: inline:  !important;;">
               
                <form action="/admin/login" method="POST">
                    <h2 class="text-center">ADMIN LOGIN</h2>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Admin id</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div >
                        {{!-- <a href="/" style="text-decoration: none;">Forgot password?</a><br><br> --}}
                        
                    </div>
 
  <button type="submit" class="btn btn-primary" >Login</button>
</form>

            </div>
        </div>
    </div>
</section>