<section class="mt-5">
    <div class="container mt-5">
        <div class="row ">
            <div class="col-md-2">
                

            </div>
            <div class="col-md-8">
              <table class="table mt-5" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Action</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                        {{#each category}}
                            
                        
                      <tr>
                        <th scope="row">{{add @index '1'}}</th>
                        <td>{{this.name}}</td>
                        <td><button class="btn btn-danger" onclick="deleteCategory('{{this._id}}')">Delete</button></td>

                      </tr>
                    {{/each}}
                    </tbody>
                  </table>
                <form action="/admin/addCategory" method="post" id="categoryForm"><br><br>
                {{#if categoryExists}}
                  <span style="color: red;">Category already exists</span><br>
                {{/if}}
                <input name="category" style="border-radius: 4px;" type="text"><br>
                <button type="submit" class="btn btn-success">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</section>

{{!-- data tables --}}
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js" defer></script>

<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>




<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function deleteCategory(CategoryId){
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'btn btn-success m-2',
            cancelButton: 'btn btn-danger'
          },
          buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
          title: 'Are you sure?',
          text: "You really want to delete this brand!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!',
          reverseButtons: true
        }).then((result) => {
          if (result.isConfirmed) {
               $.ajax({
            url:'/admin/deleteCategory/'+CategoryId,
            method:'get',
            success:()=>{
                location.reload();
            }
        })
           
          } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
          ) {
            swalWithBootstrapButtons.fire(
              'Cancelled',
              'brand not deleted :)',
              'error'
            )
          }
        })
    }
</script>


 {{!-- adddddddddddddddmmmmmmmmmmmminnnnnnnnnnn file validation --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" defer></script>

  <script>
    $(document).ready(function(){
      $('#categoryForm').validate({
        rules:{
          category:{
            required:true
          }
        }
      })
    })
  </script>

  <style>
    .error{
      color: red;
    }
  </style>