


   
 
 <header>
       <div class="agile-main-top">
		<div class="container-fluid">
			<div class="row main-top-w3l py-2">
				
				<div class=" header-right  mt-2 ml-auto p-2" >
					<!-- header lists -->
					<ul>

						{{#if user}}
							
						
				

						<div class="dropdown show">
							<a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								My profile
							</a>

							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="/profile">Profile</a>
								<a class="dropdown-item" href="/vieworders">My orders</a>
								<a class="dropdown-item" href="/logout">Logout</a>
							</div>
							</div>
							{{else}}

							<a href="/login"   data-target="#exampleModal" class="text-white btn btn-secondary">login</a>

							{{/if}}





						{{!-- {{#if user}}
                            <li class="text-center border-right text-white">
							<a href="/logout"  data-target="#exampleModal" class="text-white">
								<i class="fas fa-sign-in-alt ml-2"></i> Logout </a>
						</li>
                        {{else}}
						<li class="text-center border-right text-white">
							<a href="/login"  data-target="#exampleModal" class="text-white">
								<i class="fas fa-sign-in-alt ml-2"></i> Log In </a>
						</li>
						<li class="text-center text-white">
							<a href="/signup"  data-target="#exampleModal2" class="text-white">
								<i class="fas fa-sign-out-alt mr-2"></i>Signup </a>
						</li>
                        {{/if}} --}}
					</ul>
					<!-- //header lists -->
				</div>
			</div>
		</div>
	</div> 

   
	

	
	<!-- //top-header -->

	<!-- header-bottom-->
	<div class="header-bot" style="background-color: white;"> 
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="/" class="font-weight-bold " style="font-family: 'Merriweather', serif;">
							Precise
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<form class="form-inline" action="" >
								<input class="form-control mr-sm-2" id="myInput" type="search" placeholder="Search" aria-label="Search" required>
								<button class="btn my-2 my-sm-0" type="button">Search</button>
							</form>
						</div>
						<!-- //search -->
						<!-- cart details -->
						<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
							<div class="wthreecartaits wthreecartaits2 cart cart box_1">
								
									
									<a href="/cart"><button class="btn w3view-cart"  type="submit"  >
										<i class="fa" style="font-size:24px">&#xf07a;</i>
<span class='badge badge-warning'  id="cartCount">{{cartCount}}</span>
									</button></a>
								
							</div>
						</div>
						<!-- //cart details -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				
				<button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center mr-xl-5">
						<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Shop by brand
							</a>
							<div class="dropdown-menu">
								<div class="agile_inner_drop_nav_info p-4">
									<h5 class="mb-3">Top brands</h5>
									<div class="row">
										<div class="col-sm-6 multi-gd-img" >
											<ul class="multi-column-dropdown">
												<li>
													<a href="product.html">Rolex</a>
												</li>
												<li>
													<a href="product.html">Fastrack</a>
												</li>
												<li>
													<a href="product.html">Titan</a>
												</li>
												
											</ul>
										</div>
										
									</div>
								</div>
							</div>
						</li>
						
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="about.html">For Men's</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="product.html">For Women's
                            </a>
						</li>
                        <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="product.html">Wishlist
                            </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->
    

    </header>

  

    
    
    
        
 