<section class="mt-5">
    <div class="mt-5">
        <center>
            <img src="/coverImages/error-404-landing-page-illustration_52683-18233.jpg" class="img-fluid" alt=""><br>
            <a href="/" class="btn btn-outline-primary mt-4">Continue shoppings</a>
        </center>
    </div>
    
</section>