<section style="margin-top: 20px;">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 m-auto ">
                <form action="/signup" id="signup" method="POST"  >
                    <div>
                        <h4 style="text-align: center; text-align: center;font-weight: bold;padding: 10px;">SIGNUP</h4>
                    </div>

					<input type="hidden" class="form-control" id="exalema1" aria-describedby="emailHelp"
                         name="block"  value="true" placeholder="Enter your name">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="Text" class="form-control" id="examplil1" aria-describedby="emailHelp"
                         name="name"   placeholder="Enter your name">
                        
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" >Select your country</label>
                        <select name="countryCode" id="" class="mb-1" style="border: none; display: block; font-size: small;">
							<option data-countryCode="IND" value="91" selected>India (+91)</option>
							<option data-countryCode="US" value="1">USA (+1)</option>

						</select>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mobile number</label>
                        <input type="tel" class="form-control" id="extEmail1" aria-describedby="emailHelp"
                        name="number"    placeholder="Enter your mobile number">
                        
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="expleInEmail1" aria-describedby="emailHelp"
                         name="email"   placeholder="Enter email">
                        
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                         <input type="password" name="password" class="form-control" id="password" placeholder="Password"  onchange='check_pass();'>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm password</label>
                        <input type="password" name="repassword" class="form-control" id="confirm_password" placeholder="Re-type your passord"  onchange='check_pass();'>
                    </div>
                    {{#if signupError}}
                    <div>
                         <span class="text-danger">Entered credentials is already registered with precise</span>
                    </div>
                       
                    {{/if}}
                    <button type="submit" href="/signupotp" id="submit" class="btn btn-primary">Submit</button><br><br>
                    <div class="form-group">
                        {{!-- <label for="exampleInputPassword1">Enter the four digit OTP we have sent you</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter OTP">
                    </div>
                     <button type="submit" class="btn btn-primary">Signup</button><br><br> --}}
                    <div class="text-center"> 
                        <p>Already have an account? <a href="/login" style="text-decoration: none;">Login</a> now</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>  
<script>
  $(document).ready(function(){
    $('#signup').validate({
      rules:{
        name:{
          required:true,
          minlength:3
        },
		countryCode:{
			required:true,	
		},
		number:{
			required:true,	
			number:true
		},
		email:{
			required:true,	
			email:true
		},
		password:{
			required:true,	
			minlength:3
		},
		repassword:{
			required:true,	
			minlength:3
		}

      }
    })
  })
</script>
<script>
function check_pass() {
    if (document.getElementById('password').value ==
            document.getElementById('confirm_password').value) {
        document.getElementById('submit').disabled = false;
    } else {
        document.getElementById('submit').disabled = true;
    }
}
</script>
<style>
	.error{
		color: red;
	}
</style>