<section style="margin-top: 150px;">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 m-auto " style="margin-top: 150px; display: inline:  !important;;">
                <form action="/forgotpassword" id="forgotPasswordForm" method="POST"  >
                    <div>
                        <h4 style="text-align: center; text-align: center;
    font-weight: bold;
    padding: 10px;">FORGOT PASSWORD</h4><br>
                    </div>
                    <p>Enter the  mobile phone number associated with your Precise account.</p>
                    <div class="form-group">
                        {{#if userblock}}
					   <span class="text-danger">Access denied</span><br>
				        {{/if}}
						<label for="exampleInputEmail1" >Select your country</label> 


                         

                        <!-- country codes (ISO 3166) and Dial codes. -->
						<select name="countryCode" id="" name="countryCode" class="mb-1" style="border: none; display: block; font-size: small;">
							<option data-countryCode="IN" value="91" selected>India (+91)</option>
							<option data-countryCode="GB" value="44" >UK (+44)</option>
							<option data-countryCode="US" value="1">USA (+1)</option>
	
						</select>



                        
                        <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="mob" placeholder="Enter your mobile number">
                        
                    </div>
                   
                   {{#if userNumberNotFound}}
					   <span class="text-danger">Please Check your number</span>
				   {{/if}}
                   
                    <button style="width:100%;" type="submit" class="btn btn-primary mt-3">Submit</button> <br>
                   
                </form>
            </div>
        </div>
    </div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>  
<script>
    $(document).ready(function(){
        $('#forgotPasswordForm').validate({
            rules:{
                countryCode:{
                    required:true,
                    
                },
                mob:{
                    required:true,
                    digits:true,
                    minlength:10,
                    maxlength:10
                }
             },
             messages:{
               mob:'Enter valid mobile number'
             }
        })
    })
</script>
<style>
  .error{
    color: red !important;
  }
</style>