<section style="margin-top: 150px;">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 m-auto " style="margin-top: 150px; display: inline:  !important;;">
                <form action="/changepassword" id="changePasswordForm" method="POST">
                    <div>
                        <h4 style="text-align: center; text-align: center;
    font-weight: bold;
    padding: 10px;">CHANGE PASSWORD</h4>
                    </div>
                    <div class="form-group">
                        <label for="password">New password</label>
                        <input type="password" name="password" class="form-control" id="password" aria-describedby="emailHelp"
                            placeholder="enter new password">
                        
                    </div>
                    <div class="form-group">
                        <label for="repassword">Confirm new Password</label>
                        <input type="password" name="newpassword" class="form-control" id="repassword" placeholder="confirm your password">
                        <input type="hidden" name="countryCode" value="{{countryCode}}">
                        <input type="hidden" name="number" id="" value="{{number}}">
                    </div>
                    {{#if loginError}}
                    <span class="text-danger">Invalid username or password</span>
                        
                    {{/if}}
                   
                    <button type="submit" class="btn btn-primary">Change password</button> <br>
                   
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"> </script> 

<script>
    $(document).ready(function(){
        $('#changePasswordForm').validate({
            rules:{
                password:{
                    required:true,
                    minlength:3
                },
                newpassword:{
                    required:true,
                    minlength:3,
                    equalTo:'#password'
                }
            },
            messages:{
                newpassword:"Password didn't match"
            }
        })
    })
</script>
<style>
    .error{
        color: red;
    }
</style>